<%= form_with(model: user_game_stat) do |form| %>
  <% if user_game_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_game_stat.errors.count, "error") %> prohibited this user_game_stat from being saved:</h2>

      <ul>
        <% user_game_stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.number_field :user_id, type: :hidden, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :wins %>
    <%= form.number_field :wins %>
  </div>

  <div class="field">
    <%= form.label :total_games %>
    <%= form.number_field :total_games %>
  </div>

  <div class="field">
    <%= form.label :total_score %>
    <%= form.number_field :total_score %>
  </div>

  <div class="field">
    <%= form.label :highest_score %>
    <%= form.number_field :highest_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
