<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable "score", "Score" %></th>
      <th><%= sortable "time_started", "Time started" %></th>
      <th><%= "Win" %></th>
      <th><%= "Duration" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <% if game.user == current_user %>
      <tr>
        <td><%= game.score %></td>
        <td><%= game.time_started %></td>
        <td><%= game.win %></td>
        <td><%= game.duration %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

