<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @multiplayer_game.user_id %>
</p>

<p>
  <strong>Opponent:</strong>
  <%= @multiplayer_game.opponent_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @multiplayer_game.score %>
</p>

<p>
  <strong>Win:</strong>
  <%= @multiplayer_game.win %>
</p>

<p>
  <strong>Time:</strong>
  <%= @multiplayer_game.time %>
</p>

<%= link_to 'Edit', edit_multiplayer_game_path(@multiplayer_game) %> |
<%= link_to 'Back', multiplayer_games_path %>
