<!DOCTYPE html>
<html>
  <head>
    <title>MultiplayerPacman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    
    
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <%= render 'layouts/alerts' %>
      <%= yield %>
    <div>
    <script>
           (function() {
          var burger = document.querySelector('.nav-toggle');
          var menu = document.querySelector('.nav-menu');
          burger.addEventListener('click', function() {
              burger.classList.toggle('is-active');
              menu.classList.toggle('is-active');
          });
      })();
    </script>
  </body>
</html>
